.points-box {
  padding-top: 0;
  padding-bottom: 25px;

  .points-head {
    text-align: center;
    margin-bottom: 35px;
  }

  .points-body {
    .point {
      text-align: center;
      padding: 10px 0;

      .logo {
        display: inline-block;
        width: auto;
        height: 62px;
        margin-top: 0;
        margin-bottom: 8px;
      }

      .title {
        font-size: 18px;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 1.3;
        margin-left: 10px;
        margin-right: 10px;
      }

      .description {
        color: #83878f;
        font-size: 15px;
        line-height: 1.4;
      }
    }
  }
}

@include desktop {
  .points-box {
    padding-top: 8px;
    margin-bottom: 45px;

    .points-head {
      margin-bottom: 45px;

      .subtitle {
        padding-right: 25%;
        padding-left: 25%;
      }
    }

    background: url("../images/our-tricks-bg-rounds.svg") bottom center no-repeat;

    .points {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .point {
        flex-basis: 33%;
        padding-right: 40px;
        padding-left: 40px;
        margin-bottom: 16px;

        .logo {
          margin-bottom: 12px;
        }

        .title {
          margin-bottom: 15px;
          font-size: 20px;
          line-height: 1.5;
        }

        .description {
          line-height: 1.7;
        }
      }
    }
  }
}
