$color-black: #000;
$color-white: #FFF;

$color-dark-gray: #282A2D;
$color-gray: #83878F;
$color-yellow: #FFDB60;


$fz-medium: 15px;


$font-path: '../fonts/avenir_next';
$font-bold-path: '../fonts/avenir_next_bold';

$tablet-width: 576px;
$desktop-width: 992px;
